{{define "partials/batch_actions_body.html"}}
<p>Apply the following actions to <strong id="batch-actions-count">{{.Result.Total}}</strong> <span id="batch-actions-noun">{{plural .Result.Total "image" "images"}}</span> in current search:</p>
<ul class="actions-menu">
  {{if .Query}}<li class="actions-menu-item" data-action="save"><button type="button" data-action="save">Save search</button></li>{{end}}
  {{if and (not .Degraded) (gt .Result.Total 0)}}
  <li class="actions-menu-sep" aria-hidden="true"></li>
  <li class="actions-menu-item" data-action="add"><button type="button" data-action="add">Add tags manually</button></li>
  <li class="actions-menu-item" data-action="strip"><button type="button" data-action="strip">Remove tags</button></li>
  {{if .TaggersPresent}}<li class="actions-menu-item" data-action="autotag"><button type="button" class="btn-autotag"{{if not .EnabledTaggers}} disabled title="{{.TaggerReason}}"{{end}} data-action="autotag">Auto-tag</button></li>{{end}}
  {{if .MonloaderPaired}}<li class="actions-menu-item" data-action="lookup"><button type="button" class="monloader-accent"{{if not .MonloaderUsable}} disabled title="{{monloaderOffReason .MonloaderConn}}"{{end}} data-action="lookup">Find tags</button></li>{{end}}
  <li class="actions-menu-sep" aria-hidden="true"></li>
  <li class="actions-menu-item" data-action="inbox-toggle"><button type="button" data-action="inbox-toggle">Archive / inbox</button></li>
  <li class="actions-menu-item" data-action="fav-toggle"><button type="button" data-action="fav-toggle">Toggle favorite</button></li>
  <li class="actions-menu-item" data-action="collection"><button type="button" data-action="collection">Set collection</button></li>
  <li class="actions-menu-sep" aria-hidden="true"></li>
  {{if gt (len .Galleries) 1}}<li class="actions-menu-item" data-action="transfer"><button type="button" data-action="transfer">Transfer</button></li>{{end}}
  <li class="actions-menu-item" data-action="rename"><button type="button" data-action="rename">Rename</button></li>
  <li class="actions-menu-item" data-action="move"><button type="button" data-action="move">Move</button></li>
  <li class="actions-menu-item" data-action="delete"><button type="button" class="btn-danger" data-action="delete">Delete</button></li>
  {{end}}
</ul>
{{end}}
