{{define "partials/sidebar_content.html"}}
  {{$groups := groupByCategory .SidebarTags}}
  {{if $groups}}
  <div id="tag-groups">
    {{range $groups}}
    <div class="tag-group" data-cat="{{.Name}}">
      <div class="tag-group-header">
        <span class="cat-dot" style="background:{{.Color}}"></span>
        <span class="cat-name">{{.Name}}</span>
        <button class="cat-collapse" title="Collapse">▾</button>
      </div>
      <ul class="tag-list-sidebar">
        {{range .Tags}}
        {{$q := printf "%s:%s" .CategoryName .Name}}
        <li class="tag-entry" data-name="{{.Name}}">
          <a href="/?q={{$q}}" class="tag-link" data-tag="{{$q}}" style="color:{{.CategoryColor}}">{{.Name}}</a>
          <button class="tag-add-btn btn-tag-add" data-tag="{{$q}}" title="Add to current search">+</button>
          <span class="tag-count">{{.UsageCount}}</span>
        </li>
        {{end}}
      </ul>
    </div>
    {{end}}
  </div>
  {{end}}

  {{template "partials/sidebar_browse.html" .}}
{{end}}
